<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="productBean" class="az.edu.ada.wm2.dependency_injection_example.beans.Product">-->

<!--        <property name="id" value="P001" />-->

<!--        <property name="name" value="Laptop" />-->

<!--        <property name="price" value="1200.00" />-->

<!--    </bean>-->
</beans>